<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="nav-link">
                        <a class="nav-link" href="index">Home</a>
                        <i class="fas fa-align-left"></i>   
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item ">
                                <a class="nav-link" href="sobre">Sobre</a>
                            </li>
                            <li class="fas fa-align-justify active">
                                <a class="btn btn-info" href="contato">Contato</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Contato</h4>
                  <h5>Marcelo Higino</h5>
                  <p class="card-text">Programador Back-end</p>
                  <P class="card-text">Iniciando a careira de programador</P>
                  <p class="card-text" >Email: marcelihigino@gmail.com</p>
                  <a href="https://www.linkedin.com/in/marcelo-higino-195b92a0/" class="card-link">linkedin</a>
                  <a href="https://www.instagram.com/marcelo_higinoduarte/" class="card-link">Instagram</a>
                </div>
              </div>
        </div>
        <!-- END Page Content  -->        
    </div>

</body>
</html>